.description{
    /* width:30%; */
    height: 70vh;
    background-color: rgb(173, 190, 165);
    
    /* margin-left: 20px; */    
    box-shadow:10px black;
    text-align: center;
    margin-top: 20px; 
    margin-left: 20%;
    margin-right: 20%;
}
.description h1{
    color: rgb(36, 133, 40);
    
}
.description button{
    height: 8vh;
    width: 15%;
    margin-left: 10px;
    margin-top: 30px;
    border-radius: 30px;
  color: green;

}
.about-container{
    /* display: flex; */
    /* margin-top: 20px; 
    margin-left: 20%;
    margin-right: 20%; */
    background-color: whitesmoke;

}
.tourists{
    margin-top: 20px; 
    margin-left: 20%;
    margin-right: 20%;
    height: 70vh;
    /* width: 30%; */
    /* margin-right: 30px; */
    /* margin-left: 30px; */
    
    animation-name: animate;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-size: cover;
    object-fit: contain;
    background-repeat: no repeat;
}
@keyframes animate{
    0%{
        background-image: url('../assets/tourist3.jpg');
    }
    20%{
        background-image: url('../assets/tourist1.jpg');
    }
    40%{
        background-image: url('../assets/t2.jpg');
    }
    60%{
        background-image: url('../assets/t4.jpg');
    }
    80%{
        background-image: url('../assets/t5.jpg');
    }
}
.reviews{
    /* width:30%; */
    margin-top: 20px; 
    margin-left: 20%;
    margin-right: 20%;
    height: 70vh;
    background-color: rgb(173, 190, 165);    
    /* margin-right: 20px; */
    box-shadow:10px black;
    text-align: center;
}
.reviews button{
    
    /* width: 25%; */
    /* margin-left: 10px; */
    
    height: 8vh;
    width: 15%;
    margin-left: 10px;
    margin-top: 30px;
    border-radius: 30px;
  color: green;
}
.contact{
    width:30%;
    height: 70vh;
    background-color: rgb(173, 190, 165);
    
    margin-left: 20px;
    
    box-shadow:10px black;
    text-align: center;
}
.contact-container{
    display: flex;
    padding: 20px;
    background-color: whitesmoke;
}
.tour-container{
    background-color: white;
    height: 180vh;
    width: 100%;
}
.user-contact{
    width: 50%;
    height: 60vh;
    background-color: white;
    margin-left: 20px;

}

