*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
.header{
    height: 12vh;
    width: 100%;
    background-color: rgb(36, 133, 40);
    display: flex;
    padding: 20px;
}
.logo{
    height: 10vh;    
    width: 20%;
    display: flex;    
    margin-top: -15px;      
    /* background-color: rgb(90, 99, 81); */
}
.navbar{
    display: flex;    
    float: right;      
    /* background-color: black; */
}
.navbar a{
    padding: 9px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: medium;
    
}
.navbar a:hover{
    /* background-color: rgb(20, 17, 17); */
    text-decoration: underline;
}
.footer{
    background-color: rgb(22, 21, 21);
    height: 25vh;
    width: 100%;  
    color: white;
}
.footer-container{
    margin-left: 60px;
    display: flex;
    color: white;
    display: flex;
}
.about-the-company{
    width: 20%;
    /* color: white; */
    /* color: green; */
    margin-left: 10%;
}
.links{
    margin-left: 10%;
}
.newsletter{
    margin-left: 10%;
}